{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row">
  <div class="col-md-8">
    <div>
      <h1>{{object.name}}</h1>
    </div>
    <div class="well">
      {{object.description}}
    </div>    
    <table class="table table-striped">

      <tbody>
        {% for job in jobs %}
        <tr>
          <td>
            {{job.date_published|date:"d M"}}
          </td>
          <td>
            <a href="{{job.get_absolute_url}}">{{job.title}}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-md-4">


  </div>
</div>



{% endblock %}
