{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block head_title %} - {% trans "Sign Up" %}{% endblock %}
{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<div class="well">
  
  <form method="post" id="signup_form" action="{% url 'account_signup' %}" >
    {% csrf_token %}
    <div class="form-group">
      <label for="id_username">Username</label>
      <input name="username" type="text" class="form-control" id="id_username" placeholder="Username" required autofocus />
      {{form.username.errors}}
    </div>

    <div class="form-group">
      <label for="id_email">Email address</label>
	  <input name="email" type="email" class="form-control" id="id_email" placeholder="Enter email" required autofocus />
	  {{form.email.errors}}
	</div>

	<div class="form-group">
	  <label for="id_password1">Password</label>
	  <input name="password1" type="password" class="form-control" id="id_passwordpassword1" placeholder="Password" required autofocus />
	  {{form.password1.errors}}
	</div>

	<div class="form-group">
	  <label for="id_password2">Password verification</label>
	  <input name="password2" type="password" class="form-control" id="id_exampleinputpassword2" placeholder="Password check" required autofocus />
	  {{form.password2.errors}}
	</div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    
    <input type="submit" class="btn btn-primary" value="{% trans 'Envoyer !' %}" />
    </form>
</div>


    
{% endblock %}


