<meta charset="utf-8">
<title>Lolix{% block head_title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Lolix, offres d'emploi dédiées logiciel libre">
<meta name="keywords" content="cv, offre, emploi, logiciel, libre, recrutement">
<meta name="author" content="Rodolphe Quiédeville">
<link href="{{STATIC_URL}}vendor/bootstrap-responsive.min.css" rel="stylesheet">
<!-- These CSS can-t be put in lolix.css -->
<style type="text/css">
  body {
  padding-top: 60px;
  padding-bottom: 40px;
  }
  .sidebar-nav {
  padding: 9px 0;
  }
</style>
<link href="{{STATIC_URL}}vendor/bootstrap.css" rel="stylesheet">
<link href="{{STATIC_URL}}vendor/leaflet/leaflet.css" rel="stylesheet">
