{% extends "base.html" %}
{% load i18n %}{% load compress %}
{% block headers %}
<link href="{{STATIC_URL}}vendor/leaflet/leaflet.css" rel="stylesheet">
<link href="{{STATIC_URL}}vendor/leaflet/MarkerCluster.Default.css" rel="stylesheet">
<link href="{{STATIC_URL}}vendor/leaflet/MarkerCluster.css" rel="stylesheet">
<script src="{{STATIC_URL}}vendor/leaflet/leaflet.js"></script>
<script src="{{STATIC_URL}}vendor/leaflet/leaflet.markercluster.js"></script>
<!--<script src="{{STATIC_URL}}data/france-regions.js"></script>-->
{% compress js %}
<script src="{{STATIC_URL}}js/graph.js"></script>
<script src="{{STATIC_URL}}js/mapmain.js"></script>
<script src="{{STATIC_URL}}js/homemap.js"></script>
<script src="{{STATIC_URL}}js/vendor/colorbrewer.js"></script>{% endcompress %}
{% compress css %}
<link href="{{ STATIC_URL }}css/graph.css" rel="stylesheet">

<link href="{{ STATIC_URL }}css/homemap.css" rel="stylesheet">{% endcompress %}
</head>
<body onload="homegraphs();maps();">
{% endblock %}
{% block content %}
<div class="row">    
  <div class="col-md-4">
    <div id="emploigraph" style="margin-left: 50px; height: 280px;"></div>
  </div>
  <div class="col-md-4">
    <div id="stagegraph" style="margin-left: 50px; height: 280px;"></div>
  </div>
  <div class="col-md-4">
    <div id="missiongraph" style="margin-left: 50px; height: 280px;"></div>
  </div>
</div>
<div class="row">    
  <div class="col-md-4">
    <a href="/emploi/" type="button" class="btn btn-primary btn-lg btn-block">Emploi</a>
  </div>
  <div class="col-md-4">
    <a href="/stage/" type="button" class="btn btn-success btn-lg btn-block">Stage</a>
  </div>
  <div class="col-md-4">
    <a href="/mission/" type="button" class="btn btn-warning btn-lg btn-block">Mission</a>
  </div>
</div>

<div class="row">    
  <div class="col-md-4">
    <div>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Dernières offres" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for job in jobs %}
	  <tr>
	    <td><a href="/offres/{{job.id}}/">{{job.title}}</a></td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>      
    </div>    
  </div>
  <div class="col-md-4">    
    <div>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Derniers stages" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for sta in stages %}
	  <tr>
	    <td><a href="{{sta.get_absolute_url}}">{{sta.title}}</a></td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>      
    </div>
  </div>

  <div class="col-md-4">    
    <div>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Dernières missions" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for mis in missions %}
	  <tr>
	    <td><a href="{{mis.get_absolute_url}}">{{mis.title}}</a></td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>      
    </div>
  </div>
</div><!-- row -->
<div class="row">    
  <div class="col-md-4">
    <div id="emploimap" class="homemap"></div>
  </div>
  <div class="col-md-4">
    <div id="stagemap" class="homemap"></div>
  </div>
  <div class="col-md-4">
    <div id="missionmap" class="homemap"></div>
  </div>
</div>

{% endblock %}
