<div class="btn-group job-tool" id="job-tool-{{tool.id}}">
  <button type="button" class="btn btn-sm btn-primary">{{tool.tool.name}}</button>
  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Requis</a></li>
    <li><a href="#">Souhaité</a></li>
    <li><a href="#">Appréciable</a></li>
    <li class="divider"></li>
    <li><a href="#" onclick="deltool({{tool.id}});">Supprimer</a></li>
  </ul>
</div>
