{% extends "base.html" %}
{% load i18n %}{% load compress %}
{% block jsvendors %}
<script src="{{STATIC_URL}}vendor/bootstrap3-typeahead.js"></script>{% endblock %}
{% block jsheaders %}
<script src="{{STATIC_URL}}js/mapmain.js"></script>
<script src="{{STATIC_URL}}js/jobmap.js"></script>
<script src="{{STATIC_URL}}js/jobrosarks.js"></script>{% endblock %}
{% block body %}
<body onload="addmap({{job.lon}},{{job.lat}});rosarks({{job.lon}},{{job.lat}});">
{% endblock %}
{% block content %}
<div class="row">

  <div class="col-md-8">
    {% if object.in_moderation %}
    <div class="jumbotron">
      <div>
	<p>Annonce en moderation.</p>
	<p>Score {{object.moderation_score}} avec
	{{object.moderation_votes}} votes</p>
	{% if votes == 0 %}
	<a class="btn btn-success btn-sm" href="/job/{{job.id}}/publish/">Publish</a>
	<a class="btn btn-danger btn-sm" href="/job/{{job.id}}/refuse/">Refuse</a>
	{% endif %}
      </div>
    </div>
    {% endif %}

    <div class="job-head">
      <div class="job-title">{{ object.title }}</div>
      <h5>Créée le {{object.date_created}}</h5>
    </div>

    <div class="well job-poste">
      {% if object.description_markup = 0 %}
      {{ object.description }}
      {% endif %}
      {% if object.description_markup = 1 %}
      {{ object.description_markdown }}
      {% endif %}
      {% if object.description_markup = 2 %}
      {{ object.description_rest }}
      {% endif %}
    </div>

    <div id="job-tools">
      {% for tool in jobtools %}
      {% include 'job/button_tool.html' %}
      {% endfor %}
    </div>
    <div>
      <input id="tool-typeahead" class="form-control" placeholder="Ajouter une compétence" type="text" data-provide="typeahead">
    </div>

    <hr/>

    <div>L'entreprise</div>
    <div class="well job-company">
      {% if object.company.description_markup = 0 %}
      {{ object.company.description }}
      {% endif %}
      {% if object.company.description_markup = 1 %}
      {{ object.company.description_markdown }}
      {% endif %}
      {% if object.company.description_markup = 2 %}
      {{ object.company.description_restructuredtext }}
      {% endif %}
    </div>

    <div>
      Lieu de travail
      Salaire
    </div>

  </div>

  <div class="col-md-4">

    <div class="well">
      <p>
	<a href="{{object.company.get_absolute_url}}">{{object.company.name}}</a>
      </p>
      {% if object.company.website %}
      <div>
	<a href="{{object.company.website}}">site web</a>
      </div>
      {% endif %}
      <div>
	<p>
  	  {{object.company.adresse}}
	  {{object.company.ville}}
	</p>
      </div>

      {% if user.is_authenticated %}
      <div>
	{{object.contact_name}}
	{{object.contact_email|urlize}}
	{{object.contact_tel}}
      </div>
      {% endif %}

      <ul class="autres-postes">
	{% for cob in company_jobs %}
	<li><a href="{{cob.get_absolute_url}}">{{cob.title}}</a></li>
	{% endfor %}
      </ul>

    </div>

    <div>
      <div id="jobmap"></div>
    </div>
     
    <div class="well" id="jobrosarks">
      <div>Comment y aller</div>
    </div>

  </div>
</div>
{% endblock %}
{% block jsfooter %}
<script src="{{STATIC_URL}}js/job-typeahead-tool.js"></script>
<script src="{{STATIC_URL}}js/job-edit.js"></script>{% endblock %}
