{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">    

  <div class="col-md-8">

    Supprimer le bookmark ?
    
    <form class="form-horizontal" role="form" method="POST" action=".">
      {% csrf_token %}      
      <button class="btn btn-danger" type="submit">Oui</button>	  
      <a href="/accounts/profile/" class="btn btn-primary" type="submit">Non</a>
    </form>

  </div>

  <div class="col-md-4">
    
  </div>
</div>
{% endblock %}
