{% extends "base.html" %}
{% load i18n %}{% load inbox %}
{% block content %}
<!-- job/profile.html used in tests -->
<div class="row">
  <div class="col-md-8">
    <div>
      {% if jobs_online|length %}
      <h3>Offres en ligne</h3>
      <ul class="list-group">
	{% for job in jobs_online %}
	<li class="list-group-item">
	  <span class="badge" title="id de l'offre">id: {{job.id}}</span>
	  <a class="btn btn-primary btn-sm" href="/job/{{job.id}}/copy/">Copy</a>
	  <a class="btn btn-danger btn-sm" href="/job/{{job.id}}/unpublish/">UnPublish</a>
	  <a class="job-title-list" href="/job/{{job.id}}/edit/">{{job.title}}</a>
	</li>
	{% endfor %}
      </ul>
      {% endif %}
      {% if jobs_moderation|length %}
      <h3>Offres en attente de modération</h3>
      <ul class="list-group">
	{% for job in jobs_moderation %}
	<li class="list-group-item">
	  <span class="badge" title="id de l'offre">id: {{job.id}}</span>
	  <div id="job-progress-{{job.id}}" class="progress job-moder"></div>
	  <a class="btn btn-primary btn-sm" href="/job/{{job.id}}/copy/">Copy</a>
	  <a class="btn btn-danger btn-sm" href="/job/{{job.id}}/unpublish/">Remove</a>
	  <a class="job-title-list" href="/job/{{job.id}}/edit/">{{job.title}}</a>
	</li>
	{% endfor %}
      </ul>
      {% endif %}
      {% if jobs_edit|length %}
      <h3>Offres en cours de rédaction</h3>
      <ul class="list-group">
	{% for job in jobs_edit %}
	<li class="list-group-item">
	  <span class="badge" title="id de l'offre">id: {{job.id}}</span>
	  <a class="btn btn-primary btn-sm" href="/job/{{job.id}}/copy/">Copy</a>
	  {% if job.author.id == user.id %}
	  <a class="btn btn-success btn-sm" href="/job/{{job.id}}/publish/">Publish</a>
	  <a class="job-title-list" href="/job/{{job.id}}/edit/">{{job.title}}</a>
	  {% else %}
	  {{job.title}}
	  {% endif %}
	</li>
	{% endfor %}
      </ul>
      {% endif %}
    </div>

    <div>
      <h3>{% trans 'Companies' %}</h3>
      <ul class="list-group">
        {% with list_companies=companies %}
        {% if list_companies|length == 0 %}
        <p>Vous n'avez pas encore créé de société associée à votre
        compte.</p>
        <p>Si vous souhaitez désposer des offres d'emplois sur le
      site, vous dévez commencer par créer une société, il suffit de
      <a href="{% url 'company_new' %}">cliquer ici</a> pour le faire.
        {% endif %}
        {% for company in list_companies %}
        <li class="list-group-item">
        <span class="badge">{{job.id}}</span>
        <a role="button" href="/job/new/?c={{company.id}}" class="btn btn-primary active">Nouvelle offre</a>
        <a class="company-name-list" href="/c/{{company.id}}/edit/">{{ company.name }}</a>
        </li>
        {% endfor %}
        {% endwith %}
      </ul>

      <svg width="180" height="20" class="status-grid">
      {{run.statusgrid|safe}}
      </svg>

    </div>
  </div>

  <div class="col-md-4">

    <div>Mon compte</div>
    <div class="well">
      <div>
	login : {{user.username}}
      </div>
      <div>
	uid : {{ user.id }}
      </div>
    </div>

    <div class="right-button">
      <a role="button" href="{% url 'company_new' %}" class="btn btn-primary active">Nouvelle société</a>
    </div>

    <div>{% trans 'Mes points' %}</div>
    <div class="well">
      <div>
        <p {% if points.points == 0 %}class="bg-danger"{% endif %}>
        Points actifs : {{ points.points }}</p>
      </div>
      <div>
        Prochaine mise à jour : {{points.date_updated|date:"D j M"}}
      </div>
      <div>
        Points mensuels : {{ profile.monthly_points }}
      </div>
    </div>
    
    <div class="well">
      <div>
        Messages {% inbox_count %}
      </div>
    </div>

    <ul>
      <li><a href="/offres/archives">Offres archivées</a> : {{jobs_archived|length}}
    </ul>

    {% include "groups.html" %}

  </div>

</div>
{% endblock %}
{% block jsfooter %}
<script src="{{STATIC_URL}}js/job-votes.js"></script>{% endblock %}
