{% extends "job/basejob.html" %}
{% load i18n endless %}
{% block jsheaders %}
<script src="{{STATIC_URL}}js/llxio.js"></script>{% endblock %}
{% block body %}<body onload="llxio('{{request.get_full_path}}');">{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    {% lazy_paginate object_list %}
    <div><h1>{{ nbjobs }} offre{{ nbjobs|pluralize}} trouvée{{ nbjobs|pluralize}}</h1></div>
    {% for job in object_list %}
    <div class="alert alert-info">
      <div>
	{% if job.id in jobviewed %}
	 <span class="glyphicon glyphicon-star-empty"></span>
	 {% else %}
	 <span class="glyphicon glyphicon-star"></span>
	 {% endif %}
	 <a href="{{job.get_absolute_url}}">{{job.title}}</a> - {{job.company.name}}
      </div>
      <div>
        {{job.description|slice:"0:100"}}...
      </div>
      <div class="job-date">{% trans 'published' %} {{job.date_published|timesince}}</div>
    </div>
    {% endfor %}

    {% show_more %}    
  </div>

  <div class="col-md-4">
    <div>
      <div id="llxio_url">Url directe : </div>
    </div>

    <div class="filter-title">Filtres <a href="." class="glyphicon glyphicon-remove" title="Supprimer les filtres"></a></div>
    <div id="tool-filter-list" class="tool-filter">
      
      {% for tool in tools %}
      {% if tool.0 in filter_tools %}
      <a class="tool-filter-name-select" href="{{request.path}}?t={{urlfilter|cut:tool.0}}">{{tool.1}}</a>
      {% else %}
      <a class="tool-filter-name" href="{{request.path}}?t={{tool.0}},{{urlfilter}}">{{tool.1}}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

