{% extends "base.html" %}
{% load i18n %}{% load compress %}
{% block headers %}
{% compress js %}
<script src="{{STATIC_URL}}vendor/leaflet/leaflet.js"></script>
<script src="{{STATIC_URL}}js/mapmain.js"></script>
<script src="{{STATIC_URL}}js/prefmap.js"></script>{% endcompress %}
<link href="{{STATIC_URL}}vendor/leaflet/leaflet.css" rel="stylesheet">
</head>
<body onload="addmap({{form.lon.value}},{{form.lat.value}});">
{% endblock %}{% block content %}
<div class="row">
  <div class="col-md-8">
    <div>
      <h3>Comptes extérieurs</h3>
    </div>


  </div>
    
  <div class="col-md-4">

  </div>

</div>
{% endblock %}
