{% extends "base.html" %}
{% load i18n %}{% load compress %}
{% block headers %}
{% compress js %}
<script src="{{STATIC_URL}}vendor/leaflet/leaflet.js"></script>
<script src="{{STATIC_URL}}js/mapmain.js"></script>
<script src="{{STATIC_URL}}js/prefmap.js"></script>{% endcompress %}
<link href="{{STATIC_URL}}vendor/leaflet/leaflet.css" rel="stylesheet">
</head>
<body onload="addmap({{form.lon.value}},{{form.lat.value}});">
{% endblock %}{% block content %}
<div class="row">
  <div class="col-md-8">
    <div>
      <h3>Préférences</h3>
    </div>
    <div>

    <div class="alert alert-info">
      La géolocalisation permet de calculer la distance entre votre
      domicile et le lieu de travail définit dans les propositions de
      travail, et uniquement cela.
      Pour définir votre lieu de départ, cliquez simplement sur la
      carte ci-dessous.
    </div>
      {{form.errors}}
      <form class="form-horizontal" action="" method="post">
	{% csrf_token %}
	{{form.as_p}}

	<div class="control-group">
	  <input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
	  <input class="btn btn-danger" value="{% trans "Reset" %}" />
	</div>
      </form>
    </div>

    <div>
      <div id="prefmap"></div>
    </div>

  </div>

  <div class="col-md-4">
  </div>

</div>
{% endblock %}
