{% extends "base.html" %}
{% comment %}

File : resume/profile.html

{% endcomment %}
{% load i18n %}{% load compress %}{% load family_name %}
{% block headers %}
{% compress js %}<script src="{{ STATIC_URL }}js/rickshaw.min.js"></script>
<script src="{{ STATIC_URL }}js/graph.js"></script>{% endcompress %}
{% compress css %}<link href="{{ STATIC_URL }}css/rickshaw.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/graph.css" rel="stylesheet">{% endcompress %}
</head>
<body>
{% endblock %}
{% block content %}
<!-- resume/profile.html used in tests -->
<div class="row">

  <div class="col-md-8">
    {% if resumes|length > 0 %}

    <h3>Mes CV</h3>
    <ul class="list-group">
      {% for my_resume in resumes %}
      <script>rick('/cv/{{my_resume.id}}/stats/views/');</script>
      <li class="list-group-item">
      <span class="badge">{{ my_resume.viewed }}</span>
      {% if my_resume.status == 1 %}
      <a href="{{my_resume.get_absolute_url}}unpublish/" type="button"  class="btn btn-sm btn-danger">Retirer</a>
      {% else %}
      <a href="{{my_resume.get_absolute_url}}publish/" type="button" class="btn btn-sm btn-primary">Publier</a>
      {% endif %}
      <a href="/cv/{{my_resume.id}}/edit/">{{ my_resume.title }}</a>
      <span class="label label-default">{{ my_resume.family|family_name }}</span>
      </li>
      {% endfor %}

    </ul>

    <h3>Stats</h3>
    <div id="chart_container">
      <div id="y_axis"></div>
      <div id="chart"></div>
    </div>
    {% else %}
    <p>Vous n'avez pas encore de CV.<p>
    {% endif %}

    {% if bookmarks|length %}
    <h3>Mes bookmarks</h3>
    <table class="table">
      {% for bkm in bookmarks %}
      <tr>
	<td>{{bkm.job.company.name}}</td>
	<td>
	  {% if bkm.job.is_publish %}
	  <a href="{{bkm.job.get_absolute_url}}">{{bkm.job.title}}</a>
	  {% else %}
	  {{bkm.job.title}}
	  {% endif %}
	</td>
	<td>{{bkm.date|date:"d M y"}}</td>
	<td>
	  <a href="{{bkm.get_absolute_url}}delete/" role="button">
	    <span class="glyphicon glyphicon-remove-circle"></span></a>
	</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if jobsviewed|length %}
    <h3>Dernières offres consultées</h3>
    <table class="table">
      {% for job in jobsviewed %}
      <tr>
        <td>{{job.job.company.name}}</td>
        <td>
          {% if job.job.is_publish %}
          <a href="{{job.job.get_absolute_url}}">{{job.job.title}}</a>
          {% else %}
          {{job.job.title}}
          {% endif %}
        </td>
        <td>{{job.datetime|date:"d M y"}}</td>
        <td></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}



    {% if my_votes|length %}
    <h3>Mes derniers votes</h3>
    <table class="table">
      {% for vote in my_votes %}
      <tr>
	<td>{{vote.date}}</td>
	<td>{{vote.job.company.name}}</td>
	<td>
	  {% if vote.job.is_publish %}
	  <a href="{{vote.job.get_absolute_url}}">{{vote.job.title}}</a>
	  {% else %}
	  {{vote.job.title}}
	  {% endif %}
	</td>
	<td>
	  {% if vote.vote > 0 %}
	  <span class="label label-success">Accept</span>
	  {% else %}
	  <span class="label label-danger">Refuse</span>
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>

  <div class="col-md-4">
    <div style="margin-bottom: 20px;">
      <a role="button" href="/cv/new/" class="btn btn-primary active">Nouveau CV</a>
    </div>

    <div class="well">
      <div>login : {{user.username}}</div>
      <div>email : {{user.email}}</div>
      <div><a href="/cv/pref/{{profile.id}}">Préférences</a></div>
      <div><a href="{% url 'resume_external' %}">Ressources</a>
      (comptes gitlab, ...)</div>
    </div>

    {% if profile.jobmoder_allowed %}
    <div class="well">
      <ul>
	<li>Modération des offres : <span class="badge">actif</span></li>
	<li><a href="/offres/moderator/">offres</a></li>
      </ul>
    </div>
    {% endif %}

    <div class="well">
      <ul>
	<li><a href="/tool/new/">proposer une compétence</a></li>
      </ul>
    </div>
  </div>

</div>
{% endblock %}
