{% extends "resume/baseresume.html" %}
{% load i18n %}
{% block jsheaders %}<script src="{{ STATIC_URL }}js/tools.js"></script>{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    {% for res in tools %}
    {% if res.0 in mytools %}
    <a class="btn btn-primary btn-space" href="#" onclick="switchTool(this, {{res.2}});">{{ res.1 }}</a>
    {% else %}
    <a class="btn btn-default btn-space" href="#" onclick="switchTool(this, {{res.2}});">{{ res.1 }}</a>
    {% endif %}
    {% endfor %}
  </div>
  
</div>  
{% endblock %}
