{% extends "base.html" %}
{% comment %}

The user is allowed to consult personnal information

{% endcomment %}
{% load i18n %}
{% block content %}
<div class="row">    

  <div class="span8">
    {{ object.title }}
  </div>

  <div class="span4">
    <ul>
      {% for key in repo %}
      <li><a href="{{key.url}}" target="_blank">{{key.name}}</a> : {{key.public_repos}}</li>
      {% endfor %}
    </ul>

    <ul>
      {% for key in osm %}
      <li><a href="{{key.url}}" target="_blank">{{key.name}}</a></li>
      <ul>
	<li>changesets {{key.changesets}}</li>
	<li>traces {{key.traces}}</li>
      </ul>
      {% endfor %}
    </ul>

    <ul>
      {% for key in userpage %}
      <li><a href="{{key.url}}" target="_blank">{{key.name}}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
