{% extends "base.html" %}
{% load i18n %}{% load cache %}
{% block cssheaders %}
<link href="{{ STATIC_URL }}css/graph.css" rel="stylesheet">
{% endblock %}
{% block jsheaders %}
<script src="{{ STATIC_URL }}js/graph.js"></script>
<script src="{{ STATIC_URL }}js/vendor/colorbrewer.js"></script>
{% endblock %}
{% block body %}
<body onload="pie('/stats/main_{{familyname}}.json', {{family}});
              treemap('/stats/toolmap_{{familyname}}.json',{{family}}, '#emptree');
              treemap('/stats/toolmap_stage.json', 1, '#stagetree');">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="treemap_label">Compétences recherchées dans les emplois</a></div>
    <div id="emptree"></div>
  </div>
  <div class="col-md-4">

  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="treemap_label">Compétences recherchées dans les stages</a></div>
    <div id="stagetree"></div>
  </div>
  <div class="col-md-4">    

  </div>
</div>
{% endblock %}
